
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500&family=VT323&display=swap');

body {
    background-image: url("Background-img/mario2.png");
    background-size: cover;
    color: whitesmoke;
    padding: 30px;
    font-size: 30px;
    font-family: VT323;
    font-style: italic;
    text-align: center;
}
.counter-app{
    background-image: url("Background-img/munten.png");
    border: 5px solid goldenrod;
    background-size: 100% 100%;
    background-position: center;
    width: 700px;
    height: 720px;
    margin-right: auto;
    margin-left: auto;

}
#coin {
    text-shadow: 2px 2px 2px black;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    text-shadow: 2px 2px 2px black;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

.mario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;


}
.bit-coin{
    text-shadow: 2px 2px 2px black;
    font-family: VT323;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    height: 60px;
    width: 200px;
    border-radius: 5px;
}
#increment-btn{
    font-style: italic;
    color: white;
    background-color: gold;
    border: 4px solid goldenrod;
    border-radius: 10px;
}

#save-el{
    text-shadow: 2px 2px 2px black;
    font-size: 45px;

}

#save-btn{
    border-radius: 10px;
    background-color: gold;
    border: 4px solid goldenrod;
    color: white;

}

#delete-el{
    color: white;
    border-radius: 10px;
    background-color: gold;
    border: 4px solid goldenrod;
}

